.SearchBox{
text-align: center;
margin-top:  25px;
margin-bottom: 25px;
     
    
}
/* .text{
border: 2px solid black; 
style={{border:"2px solid black"}}
} */

/* .form{
border: 5px solid black;
} */

 