h2{
text-align: center;
text-transform:uppercase;
padding-top: 20px;
color: black;
font-size: xx-large;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.tampo{

text-Align:center;
background-image: url(./assets/giphy.gif);
background-size: cover;
max-width: 1580px;
margin:0 auto;
padding: 2rem;
text-align: center;

 }